
@font-face {
  font-family: 'EXO';
  src: url('./fonts/Exot350D.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  /* Color Vars */
  --bg: #0c1315;
  --text: white;
  --body-text: #a0a0a0;



  /*
  --overlay: #1e1e1e;
  --overlay2: #272727;
  --yellow: #d5a805;
  */


  margin: 0;
  font-family: 'EXO', sans-serif;
  font-weight: 500;
  font-size: 20px;
  background-color: var(--bg);
  color: var(--text);
}

/* Site Wrapper*/
main {
  /*max-width: 1024px;*/
  margin: auto;
  /*margin-top: 20px;*/
}

h1, h2, h3, h4, h5 {
  color: var(--text);
}

.footer {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.footer menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.footer menu li {
  min-width: 150px;
}

.navbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;


  /*max-width: 1024px;*/
  margin: auto;
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: 300;
  font-size: 20px;
  padding: 10px 15px 10px 15px;
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: center;
}

.navbar menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: auto;
  margin-left: auto;
}

.nav-logo {
  padding-left: 30px;
}

.nav-btn {
  float: left;
}

a.nav-link {
  padding: 6px 30px 6px 30px;
  display: block;
  text-align: center;
  vertical-align: center;
  text-decoration: none;
  color: var(--body-text);
}

a.nav-link:hover {
  text-decoration: none;
  background-color: var(--overlay);
  color: var(--text);
}

a.nav-active {
  color: var(--text);
}

a.nav-active:hover {
  text-decoration: none;
  background-color: var(--overlay);
  color: var(--text);
}

/* Home Page */
.home-content {
  align-items: center;
  color: var(--text-muted);
}

.info-blurb {
  display: grid;
  grid-template-columns: 384px 600px;
  grid-gap: 40px;
  margin-bottom: 20px;
}

.home-content section {
  background-color: var(--overlay);
  padding: 12px;
  border-radius: 5;
  height: 144px;
}

.info-blurb img {
  width: 160px;
}

.home-content p {
  margin: 2px;
  font-size: 16px;
}

iframe {
  border: none;
}

/* Banner */
.banner-div {
  width: 100%;
  margin: auto;
}

.banner {
  width: 100%;
  margin: 0;
  background-size: cover;
  box-sizing: border-box;
}

/* footer */
.footer {
  width: 100%;
  margin: 0;
  background-color: var(--overlay2);
}

/* About */
.about {
  display: grid;
  grid-template-columns: 384px 600px;
  grid-gap: 20px;
}

a {
  color: var(--text);
}

a:hover {
  color: var(--text-muted);
}

.splash-title {
  text-align: center;
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 11;
}

.splash-title h1, h2 {
  padding: 0;
  margin: 0;
}

.splash-title h1 {
  font-size: 120px;
}

.splash-title h2 {
  font-size: 70px;
}

h3 {
  font-size: 35px;
}
h4 {
  font-size: 25px;
}

p1 {
  font-size: 20px;
  color: var(--body-text);
}
p2 {
  font-size: 20px;
  color: var(--body-text);
}

.splash-img {
  width: 100%;
  z-index: -1;
  position: relative;
  /*
  background-image: url("./img/legacy-splash.png");
  background-size: contain;
  background-repeat: no-repeat;*/
}

.splash-img img {
  max-width: 100%;
}

.hidden-bg {
  max-width: 100%;
}


.splash-img::before {
  content: "";
  z-index: 10;
  display: block;
  position: absolute;
  top: 66%;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--bg));
}


.splash-img::after {
  content: "";
  z-index: 10;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 66%;
  right: 0px;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), var(--bg));
}

.body1 {
  height: 500px;
  width: 100%;
  background-color: var(--bg);
}
.body2 {
  height: 40px;
  width: 100%;
  background-color: var(--bg);
}

.line-main {
  display: flex;
  justify-content: center;
}

.hor-line {
  position: relative;
  height: 4px;
  width: 90%;
  border-top: 2px solid var(--body-text);
}

.main-line-img {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transform: translate(0, -50%);
  height: 40px;
  width: auto;
}

.welcome-body {
  width: 85%;
  /*border: 3px solid red;*/
  height: 90%;
  margin-left: auto;
  margin-right: auto;
}

.line-2 {
  display: flex;
  justify-content: space-between;

}

.hor-line-left {
  padding: 0 20px;
  position: relative;
  height: 4px;
  width: 40%;
  border-top: 2px solid var(--body-text);
  margin-left: 5%;
}
.hor-line-right {
  padding: 0 20px;
  position: relative;
  height: 4px;
  width: 40%;
  border-top: 2px solid var(--body-text);
  margin-right: 5%;
}

.social {
  transition: all .2s ease-in-out; 
}

.social img {
  padding: 0 10px;

  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transform: translate(0, -50%);
  height: 30px;
  width: auto;
}

.social:hover {
  transform: scale(1.1); 
}


/*
.steam-img {
  padding: 0 10px;

  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transform: translate(0, -50%);
  height: 30px;
  width: auto;
}

.youtube-img {
  padding: 0 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transform: translate(0, -50%);
  height: 30px;
  width: auto;
}

.discord-img {
  padding: 0 10px;

  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transform: translate(0, -50%);
  height: 30px;
  width: auto;
}*/

.second-line-img {
  padding: 0 10px;
  position: absolute;
  left: 0;

  margin-left: auto;
  margin-right: auto;
  transform: translate(0, -50%);
  height: 20px;
  width: auto;
}

.second-line-img-flip {
  padding: 0 10px;
  position: absolute;

  right: 0;
  margin-left: 0;
  margin-right: auto;
  transform: scaleX(-1) translate(0, -50%);
  height: 20px;
  width: auto;
}

.welcome-span {
  display: flex;
  column-gap: 30px;
}

.welcome-desc {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dark-img {
  position: absolute;
  display: block;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  background-color: rgba(0, 0, 0, 0.5);
}

.feature-body-1 {
  width: 80%;
  height: 100%;
  z-index: 12;
  position: absolute;
  top: 0px;
  margin-left: 10%;
  margin-right: 10%;
  /*
  background-image: url("./img/legacy-splash.png");
  background-size: contain;
  background-repeat: no-repeat;*/
}

.feature-1-title {
  text-align: center;
  height: 80px;
}

.pic-parent {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 70%;

  height: 40%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.img-shadow { 
  box-shadow: 0px 3px 15px rgba(0,0,0,0.8);
  border-radius: 5px;
}

.voronoi-img {
  margin: 0 10px;
  transform: translateZ(0);
}
.llyod-img {
  margin: 0 10px;
  transform: translateZ(0);
}

.ss-img {
  height: 70%;
  width: auto;
  margin: 0 10px;
  transform: translateZ(0);
}

.pic-parent-3 {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 80%;
  /*border: 3px solid red;*/
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.pic-parent-2 {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;

  height: 40%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.body3 {
  height: 1100px;
  width: 100%;
  background-color: var(--bg);
}

.team-desc {
  width: 100%;
  text-align: left;
}

.aboutus-body {
  width: 80%;
  text-align: center;
  /*border: 3px solid red;*/
  height: 90%;
  margin-left: auto;
  margin-right: auto;
}

.center-style {
  text-align: center;
}

.pic-parent-4 {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 80%;

  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.profile-outline {
  /*border: 3px solid red;*/
  width: 40%;
}

p3 {
  font-size: 14px;
}

.profile-img {
  width: auto;
  width: 80%;

  margin: 0 10px;
  transform: translateZ(0);
}

.profile-desc {
  text-align: left;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}


